<!-- <div class="register-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <div class="avatar">
            <i class="material-icons">&#xE7FF;</i>
        </div>
        <h4 class="modal-title">Register</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" required="required" [formControl]="emailFormControl">
            <p *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </p>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Conform password" required="required">
        </div>
        <input type="button" class="btn btn-primary btn-block btn-lg" value="Register" (click)="Login()">
    </form>
</div> -->