<div class="register-form">
    <form [formGroup]="loginform">
        <div class="avatar">
            <i class="material-icons">&#xE7FF;</i>
        </div>
        <h4 class="modal-title">Register</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required formControlName="username" id="Username">
            <p *ngIf="loginform.controls.username?.invalid && (loginform.controls.username?.dirty || loginform.controls.username?.touched)" class="alert alert-danger">
                Tên đăng nhập tối thiểu 5 ký tự
            </p>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email" required formControlName="email">
            <p *ngIf="loginform.controls.email?.hasError('email') && (loginform.controls.email?.dirty || loginform.controls.email?.touched)" class="alert alert-danger">
                Email không hợp lệ
            </p>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required formControlName="password">
            <p *ngIf="loginform.controls.password?.invalid && (loginform.controls.password?.dirty || loginform.controls.password?.touched)" class="alert alert-danger">
                Password tối thiểu 5 ký tự
            </p>
        </div>

        <input [disabled]="!loginform.valid" type="button" class="btn btn-primary btn-block btn-lg" value="Register" (click)="register()">
    </form>
</div>
