<link rel="stylesheet" href="https://www.telerik.com/kendo-angular-ui/npm/node_modules//@progress/kendo-theme-default/dist/all.css"
/>
<!-- 1. Load libraries -->
<!-- Polyfill(s) for older browsers -->
<script src="https://unpkg.com/core-js/client/shim.min.js"></script>

<script src="https://unpkg.com/zone.js@0.8.12/dist/zone.js"></script>
<script src="https://unpkg.com/reflect-metadata@0.1.3/Reflect.js"></script>
<script src="https://unpkg.com/systemjs@0.19.27/dist/system.js"></script>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0px;">
        <button type="button" class="btn btn-info" (click)="addBook()">Thêm sách</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="padding-left: 0px;">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">10 Rows
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#">10 Rows</a>
            </li>
            <li>
              <a href="#">15 Rows</a>
            </li>
            <li>
              <a href="#">20 Rows</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <kendo-grid [data]="gridView" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [height]="700" (pageChange)="pageChange($event)">
        <kendo-grid-column field="Title" title="Tựa sách" width="250">
        </kendo-grid-column>
        <kendo-grid-column field="Price" title="Giá" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="Quantity" title="Số lượng" width="100">
        </kendo-grid-column>
        <kendo-grid-column field="ImgUrl" title="Hình ảnh">
        </kendo-grid-column>
        <kendo-grid-column field="IsActive" title="Trạng thái" width="250">
        </kendo-grid-column>
        <kendo-grid-column field="Discontinued" title="Chức năng" width="200">
          <ng-template kendoGridCellTemplate let-dataItem>
            <button mat-mini-fab color="primary" (click)="onButtonClick()">Sửa</button>
            <button mat-mini-fab color="success" (click)="onButtonClick()">Detail</button>
            <button mat-mini-fab color="warn" (click)="onButtonClick()">Xóa</button>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
</div>